html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #4a1a78;
}

body {
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 800px;


}

.title {
  display: flex;
  flex-direction: column;

}

.word {
  display: block;
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}

.tic {
  color: #f6d719;
}

.tac {
  color: #3cc8f0;
}

.toe {
  color: #f6d719;
}

.mode-selection,
.level-selection {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.mode-selection h1,
.level-selection h1 {
  color: azure;
  text-align: center;
}

.mode-button,
.level-button {
  padding: 15px 30px;
  margin: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #3cc8f0;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#level-selection {
  display: none;
}

.mode-button:hover,
.level-button:hover {
  background-color: #2aa6d6;
  transform: scale(1.05);
}

.mode-button:active,
.level-button:active {
  background-color: #1b88b3;
  transform: scale(0.95);
}

.game-container {
  flex-direction: row;
  position: relative;
  display: none;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.game-container .sub-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.scores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.score {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  /* Subtle shadow */
}

#player-x {
  background-color: #3cc8f0;
}

#draw {
  background-color: rgb(218, 216, 216);
}

#player-o {
  background-color: #f6d719;
}

.score-value {
  font-size: 2rem;
  margin: 0;
}

.message {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}



.grid {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  width: 400px;
  height: 400px;
}

.grid-item {
  background-color: #562c8a;
  border: 2px solid #3cc8f0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  cursor: pointer;

}

.grid-item.highlight {
  background-color: gold;
  color: black;
}

.grid-item:hover {
  background-color: #3cc8f0;
}

.button-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.new-game {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: black;
  background-color: rgb(218, 216, 216);
  border-radius: 10px;
  padding: 10px 40px;
  cursor: pointer;
  position: relative;
}

.new-game::before,
.new-game::after {
  content: '';

  top: -8px;
  left: -8px;
  border-radius: 12px;
  z-index: -1;
}

.new-game::after {
  top: 8px;
  left: 8px;
}

.back-button {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: black;
  background-color: #f6d719;
  /* Matches Player O's color */
  border-radius: 10px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.back-button:hover {
  background-color: #d6b517;
  transform: scale(1.05);
}

.back-button:active {
  background-color: #b59b14;
  transform: scale(0.95);
}

@media screen and (max-width: 767px) {
  body {
    width: 100%;
  }

  .game-container {
    flex-direction: column;

  }

  .board {
    width: 200px;
    height: 200px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;

  }

  .button-container {
    display: flex;
    flex-direction: row;

  }

  .word {
    font-size: 40px;
  }
}